<footer class="footer">
  <div class="inner container container-1200">
    <div class="desktop">
      <div class="wawes-icon">
        <img src="{{ site.cdn_url }}/images/footer-logo.svg" height="56px" width="56px" alt="Methodology icon" />
      </div>
      <div class="sub-group">
        <div class="wawes-icon">
          <img src="{{ site.cdn_url }}/images/footer-logo.svg" height="56px" width="56px" alt="Methodology icon" />
        </div>
        <div>
          <p class="footer-link">
            <a href="{{ site.baseurl }}/our-story" rel="noopener noreferrer">
              Our Story
            </a>
          </p>
          <p class="footer-link">
            <a href="#" rel="noopener noreferrer">Menu</a>
          </p>
        </div>
        <div>
          <p class="footer-link">
            <a href="#" rel="noopener noreferrer">Blog</a>
          </p>
          <p class="footer-link" rel="noopener noreferrer">
            <a href="#" rel="noopener noreferrer">Gift Cards</a>
          </p>
        </div>
      </div>
      <div class="sub-group">
        <div>
          <p class="footer-link">
            <a href="{{ site.baseurl }}/faq" rel="noopener noreferrer">FAQs</a>
          </p>
          <p class="footer-link">
            <a href="{{ site.baseurl }}/careers" rel="noopener noreferrer">Careers</a>
          </p>
        </div>
        <div>
          <p class="footer-link">
            <a href="{{ site.baseurl }}/contact" rel="noopener noreferrer">Contact Us</a>
          </p>
          <p class="footer-link">
            <a href="https://app.gomethodology.com/sign-in" rel="noopener noreferrer" target="_blank">Log In/Sign Up</a>
          </p>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>
        <a href="/privacy-policy" rel="noopener noreferrer">Privacy Policy</a>
      </p>
      <p>
        <a href="/terms-conditions" rel="noopener noreferrer">Terms and Conditions</a>
      </p>
    </div>
  </div>
</footer>
