<footer class="footer">
  <div class="inner container container-1200">
      <div class="desktop">
          <div class="wawes-icon">
            <img src="./assets/footer-logo.svg" height="56px" width="56px" />
          </div>
          <div class="sub-group">
              <div class="wawes-icon">
                <img src="./assets/footer-logo.svg" height="56px" width="56px" />
              </div>
              <div>
                  <p class="footer-link">
                      <a href="/our-story" rel="noopener noreferrer">
                          Our Story
                      </a>
                  </p>
                  <p class="footer-link">
                      <a href="https://app.gomethodology.com/menu" rel="noopener noreferrer" target="_blank">Menu</a>
                  </p>
              </div>
              <div>
                  <p class="footer-link" >
                      <a href="/blog" rel="noopener noreferrer">Blog</a>
                  </p>
                  <p class="footer-link" rel="noopener noreferrer">
                      <a href="/gift-cards/gift-cards" rel="noopener noreferrer">Gift Cards</a>
                  </p>
              </div>
          </div>
          <div class="sub-group">
              <div class="social-media-links">
                  <div>
                      <a href="https://www.instagram.com/gomethodology/" target="_blank" aria-label="Visit us on Instagram" rel="noopener noreferrer">
                          <img src="../assets/images/instagram-logo.svg" alt="">
                      </a>
                  </div>
                  <div>
                      <a href="https://twitter.com/gomethodology" target="_blank" aria-label="Visit us on Twitter">
                          <img src="../assets/images/twitter-logo.svg" alt="">
                      </a>
                  </div>
                  <div>
                      <a href="https://www.tiktok.com/@gomethodology" target="_blank" aria-label="Visit us on TikTok">
                          <img src="../assets/images/tiktok-logo.svg" alt="">
                      </a>
                  </div>
              </div>
              <div>
                  <p class="footer-link">
                      <a href="/faq" rel="noopener noreferrer">FAQs</a>
                  </p>
                  <p class="footer-link">
                      <a href="/careers" rel="noopener noreferrer">Careers</a>
                  </p>
              </div>
              <div>
                  <p class="footer-link">
                      <a href="/contact" rel="noopener noreferrer">Contact Us</a>
                  </p>
                  <p class="footer-link">
                      <a href="https://app.gomethodology.com/sign-in" rel="noopener noreferrer" target="_blank">Log In/Sign Up</a>
                  </p>
              </div>
          </div>
          <div class="social-media-links">
              <div>
                  <a href="https://www.instagram.com/gomethodology/" target="_blank" aria-label="Visit us on Instagram" rel="noopener noreferrer">
                      <img src="../assets/images/instagram-logo.svg" alt="">
                  </a>
              </div>
              <div>
                  <a href="https://twitter.com/gomethodology" target="_blank" aria-label="Visit us on Twitter">
                      <img src="../assets/images/twitter-logo.svg" alt="">
                  </a>
              </div>
              <div>
                  <a href="https://www.tiktok.com/@gomethodology" target="_blank" aria-label="Visit us on TikTok">
                      <img src="../assets/images/tiktok-logo.svg" alt="">
                  </a>
              </div>
          </div>
      </div>
      <div class="footer-bottom">
          <p>
              <a href="/privacy-policy" rel="noopener noreferrer">Privacy Policy</a>
          </p>
          <p>
              <a href="/terms-conditions" rel="noopener noreferrer">Terms and Conditions</a>
          </p>
      </div>
  </div>
</footer>
