<section class="press">
  <div class="marquee">
    <div class="marquee-content">
      <img src="{{ site.cdn_url }}/images/home/wsj.png" class="wsj" alt="WSJ logo" />
      <img src="{{ site.cdn_url }}/images/home/rollingstone.png" class="rollingstone" alt="RollingStone logo" />
      <img src="{{ site.cdn_url }}/images/home/forbes.png" class="forbes" alt="Forbes" />
      <img src="{{ site.cdn_url }}/images/home/womenshealth.png" class="womenshealth" alt="Womens health logo" />
      <img src="{{ site.cdn_url }}/images/home/1598px-Inc.png" class="inc" alt="inc logo" />
      <img src="{{ site.cdn_url }}/images/home/mens-health.png" class="otherimg" alt="Mens health logo" />
      <img src="{{ site.cdn_url }}/images/home/wsj.png" class="wsj" alt="WSJ logo" />
      <img src="{{ site.cdn_url }}/images/home/rollingstone.png" class="rollingstone" alt="RollingStone logo" />
      <img src="{{ site.cdn_url }}/images/home/forbes.png" class="forbes" alt="Forbes" />
      <img src="{{ site.cdn_url }}/images/home/womenshealth.png" class="womenshealth" alt="Womens health logo" />
      <img src="{{ site.cdn_url }}/images/home/1598px-Inc.png" class="inc" alt="inc logo" />
      <img src="{{ site.cdn_url }}/images/home/mens-health.png" class="otherimg" alt="Mens health logo" />
    </div>
  </div>
</section>
