<div class="slider-wrapper seafood-vegan" id="main-slider4">
  {% for item in site.data.seafood-vegan %}
    <div class="slider-container">
      <div class="product-item" data-index="0">
        <img class="product-image" src="{{ item.image }}"
          alt="{{ item.image }}" />
        <p class="product-title">{{ item.meal_type }}</p>
        <div class="food-name">
          <p>{{ item.name }}</p>
        </div>
        <div class="nutrition">
          {% for nutrition in item.nutrition %}
            <div>
              <p>{{ nutrition.gram }}</p>
              <p>{{ nutrition.name }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
