<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
  <script src="{{ '/assets/js/zipcode-checker.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/fadein-scroll.js' | relative_url }}"></script>
  </body>
  <script>
    document.querySelectorAll('.green-button').forEach(button => {
      button.addEventListener('click', function () {
        this.classList.toggle('tapped');
      });
    });
  </script>
</html>
